// Global Foundation Settings
@import "settings";
// Comment out this import if you don't want to use normalize
@import "normalize";
// Comment out this import if you are customizing you imports below
@import "foundation";
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "fonts";

$orange: #eba136;
$green: #E6F5B5;
$gray: #ddd;

.example-alert, .example-url {
  @include alert-base;
  @include alert-style(#f2f2f2);
  border: 1px solid $gray;
  font-weight: normal;
  margin-bottom: 0;
  padding-top: emCalc(16px);

  &:before {
    content: "example";
    display: block;
    position: absolute;
    top: emCalc(4px);
    right: emCalc(8px);
    font-variant: small-caps;
  }

  .square {
    list-style-position: inside;
    margin-bottom: 0;
    li {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.example-alert {
  @include alert-style(white);
  &:before {
    color: $gray;
  }
}

.example-url {
  margin-bottom: 20px;
}

.panel.white {
  @include panel(#fff);

  a {
    color: #2ba6cb;
    &:hover {
      color: #2795b6;
    }
  }
}

.grammar-panel {
  font-weight: normal;
  font-size: emCalc(14px);
  line-height: 1.5;
  padding: emCalc(8px);

}

blockquote {
  border-left: 1px solid $gray;
  padding: emCalc(5px) 0;
  padding-left: emCalc(12px);
  font-size: emCalc(14px);
  line-height: 1.5;
}

.row .row.api-section {
  margin-bottom: emCalc(25px);
}

h3, h5 {
  [class^='icon-'] {
    display: none;
    font-size: 80%;
  }
  &:hover [class^='icon-'] {
    display: inline-block;
  }
}

.hidden {
  display: none;
}

p.small {
  font-size: 0.8em;
  margin: 0;
}

.filter-tag:hover {
  color: #2795b6;
  cursor: pointer;
}

.datagem-schema-table {
  width: 100%;
  margin-top: emCalc(20px);
}

table.no-zebra tbody tr {
  background: white;
  border-top: 1px solid gainsboro;
}

table tbody tr.color {
  background: #f4f4f4;
  &.child {
    background: #f9f9f9;
    border: 0;
  }
}